# Center button
NET  GPIO_BUTTONS<0>    LOC="AJ6";   # Bank 18, Vcco=3.3V, No DCI
NET  GPIO_BUTTONS<0>    IOSTANDARD="LVCMOS33";

# East button
NET  GPIO_BUTTONS<1>    LOC="AK7";   # Bank 18, Vcco=3.3V, No DCI
NET  GPIO_BUTTONS<1>    IOSTANDARD="LVCMOS33";

# North button
NET  GPIO_BUTTONS<2>    LOC="U8";    # Bank 18, Vcco=3.3V, No DCI
NET  GPIO_BUTTONS<2>    IOSTANDARD="LVCMOS33";

# South button
NET  GPIO_BUTTONS<3>    LOC="V8";    # Bank 18, Vcco=3.3V, No DCI
NET  GPIO_BUTTONS<3>    IOSTANDARD="LVCMOS33";

# West button
NET  GPIO_BUTTONS<4>    LOC="AJ7";   # Bank 18, Vcco=3.3V, No DCI
NET  GPIO_BUTTONS<4>    IOSTANDARD="LVCMOS33";

# CPU_RESET button
NET  FPGA_CPU_RESET_B   LOC="E9";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET  FPGA_CPU_RESET_B   IOSTANDARD="LVCMOS33";

NET  FPGA_SERIAL_RX     LOC="AG15";  # Bank 4, Vcco=3.3V, No DCI
NET  FPGA_SERIAL_TX     LOC="AG20";  # Bank 4, Vcco=3.3V, No DCI
NET  FPGA_SERIAL_RX     IOSTANDARD="LVCMOS33";
NET  FPGA_SERIAL_TX     IOSTANDARD="LVCMOS33";

NET CLK_33MHZ_FPGA LOC="AH17";
NET CLK_33MHZ_FPGA IOSTANDARD="LVCMOS33";

NET "CLK_33MHZ_FPGA" TNM_NET = CLK_33MHZ_FPGA;
TIMESPEC TS_USER_CLK = PERIOD "CLK_33MHZ_FPGA" 30.3 ns HIGH 50%;
